@import "tailwindcss";

/* Custom Colors */
@theme {
  --color-background: #edf2f7;
  --color-white: #ffffff;
  --color-gray: #f2f4f8;
  --color-black: #000000;
  --color-primary: #6833ff;
  --color-primaryhover: #865cff;
  --color-paragraph: #999faa;
  --color-error: #ed2e7e;
  --color-primarydark: #5626df;
}

body {
  background-color: var(--background);
  font-family: "Poppins", sans-serif;
  margin: 0;
}